#map {
    height: 90vh;
}

input {
	-webkit-appearance: none;
	outline: none;
	border:0;
	box-shadow: none;
	width: 80%;	
}

button, a {
	cursor: pointer;
	outline: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}


.holder {
	display:flex;
	align-items:center;
	border:1px solid #ccc;
	border-radius:5px;
	padding:3px;
	padding-right:10px;
}

.holder-active {
	border:1px solid #9EE020;
}

.img {
	width:40px;
	filter:grayscale(1);
}

.img-active {
	filter:grayscale(0);
}

.burbuja {
	height:60px;
	width:60px;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.title {
	font-size:12.5px;
	font-weight:600;
	color:#777;
}

.title-active {
	color:#9EE020;
}